<?xml version="1.0"?>

<model>
  <name>siar</name>
  <version>1.0</version>
  <sdf version='1.7'>siar.sdf</sdf>

  <author>
    <name>Simon Martinez</name>
    <email>simon.martinez.rzs@gmail.com</email>
  </author>

  <description>
      The model consist in a robot mobil with six wheels.
  </description>

</model>
